body {
  background: #ecf0f1;
  font-size: 15px;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

#root {
  width: 60%;
  margin: 0 auto;
  background: #fff;
}

.flex-container {
  display: flex;
  align-items: stretch;
}

h1 {
  font-size: 18px;
  /* color: #119da4; */
}
.col {
  /* background-color: DodgerBlue; */
  color: #333;
  width: 100px;
  margin: 5px;
  text-align: center;
  line-height: 25px;
}
.col-1 {
  flex-grow: 2;
  text-align: right;
  padding-right: 5px;
  margin-right: 10px;
  /* border-right: 1px #75d3d8 solid; */
  margin-right: 10px;
  padding-right: 20px;

  /* padding-top: 25%; */
}

.col-1 section > h1 {
  padding: 10px 0;
  border-bottom: 1px solid #75d3d8;
  text-transform: uppercase;
}

.col-2 {
  flex-grow: 8;
  text-align: left;
  padding-right: 20px;
}

.col-2 section > h1 {
  padding: 20px 0;
  font-size: 25px;
  text-transform: uppercase;
  /* border-bottom: 1px solid #75d3d8; */
}

.col-1 div {
  /* font-size: 14px; */
}
.col-1 .info {
  font-size: 16px;
}

.profil-image {
  border: 1px solid #333;
  padding: 2px;
  margin: 30px 0;
}

.skills {
  line-height: 25px;
  word-spacing: 10px;
  /* font-size: 22px; */
}

.position {
  text-transform: capitalize;
}

.recommendation-section {
  margin: 80px 0 50px 0;
}

.recommendation-section > section {
  padding-bottom: 50px;
}

.recommendation-section img {
  width: 80px;
}

.recommendation {
  /* font-size: 13px; */
  /* line-height: 18px; */
  /* font-style: italic; */
}

#experience > section {
  padding-bottom: 50px;
}

#experience > section h1 {
  margin: 5px 0;
  padding: 5px 0;
  di
}

.client-position {
  font-weight: bold;
}

.position {
  padding-bottom: 12px;
}

.CoverIntro h3 {
  padding: 2px 0;
  margin: 2px 0;
  line-height: 5px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 30px;
}

.CoverIntro h5 {
  padding: 0px;
  margin: 0px;
  padding-bottom: 20px;
  /* color: #119da4; */
  font-size: 15px;
}

.education {
  padding-top: 80px;
}

/* 
.recommendation-section {
  padding-bottom: 10px;
} */
